body,  {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #414a52;
	width: 100% !important;
	height: 100% !important;

}

.page-scroll{

}